@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:wght@400;600&family=Barlow:wght@600&family=Commissioner:wght@400;500;700&family=DM+Serif+Display&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Fugaz+One&family=Hanken+Grotesk:wght@500&family=Josefin+Sans:wght@300&family=Karla:wght@400;700&family=League+Spartan&family=Montserrat:wght@100&family=Nunito:wght@200&family=Outfit&family=Overpass:wght@100;300;600&family=Ubuntu:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .nav-link-header{
    @apply  uppercase font-fontKarla font-bold text-[#837d87] 
            lg:px-[1rem] lg:py-[0.5rem] lg:tracking-[0.1rem]
  }
  .h1-section1{
    @apply  font-fontDM text-[2.7rem] text-[#2b272f] text-center
            xl:text-[4.2rem] xl:text-start
  }
  .card-section1{
    @apply  flex flex-col items-center mt-[3rem] xl:items-start xl:mt-[6rem]
  }
  .h2-section1{
    @apply  font-fontDM  text-[1.7rem] text-[#2b272f] mt-[2rem] mb-[1rem]
            
  }
  .p-section1{
    @apply  font-fontKarla  text-[#837d87] px-[0.1rem]
            xl:pr-[3rem] xl:pl-0
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --c-Dark-Violet: #2d2640;
  --c-Grayish-Blue: #95a9c6;

  --c-Very-Dark-Violet: #2b272f;
  --c-Dark-Grayish-Violet: #837d87;
  --c-Very-Light-Gray: #fafafa;

  --ff-DM: 'DM Serif Display', serif;
  --ff-Karlar:'Karla', sans-serif;
  --fs:16px;

  --fw-DM:400;
  --fw-Karla:400;
  --fw-Karla:700; 
}

.h1-section1{
  position: relative;
}
.h1-section1::after{
  content: '';
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 50%;
  border: 0.5px solid var(--c-Grayish-Blue);
}

@media only screen and (min-width: 1280px) {

  .h1-section1::after{
    top: -4rem;
    left: 0;
    transform: translateX(0);
    width: 35%;
  }
}
